#angkringan{
	overflow: hidden;
}

.content{
	opacity: 1;
}

.header{
	@include span(12 nest);
	background-color: #000;
	position: fixed;
	top:0;
	z-index: 999;
	.logo{
		@include span(2);
		height: 101px;
		background-color:#000;
		img{
			height: 100%;
			width: 65%;
			margin:auto;
		}
	}
	.nav{
		@include span(10);
		text-align: right;
		ul{
			li{
				list-style-type: none;
				display: inline-block;
				background-color:#CCC;
				padding:15px;
				border-radius: 10px;
				margin-right: 6px;
				a{
					padding:20px;
					text-decoration: none;
					color: #000;
					font-size: 20px;
				}
			}
			.mr10{
				margin-right: 10px;
			}
		}
	}
}

.content-transaksi{
	@include span(12 nest);
	height:100vh;
	padding-top:100px;
	// #reset{
	// 	background-color: red;
	// 	color: white;
	// 	height: 30px;
	// 	position: relative;
	// 	left : 60.5%;
	// 	}
	.row-title{
		@include span(12 nest);
		.title-input{
			@include span(8);
			text-align: center;
			background-color: #DDD;
			font-size: 30px;
			padding:8px;
			// height: 50px;
		}
		.title-output{
			@include span(4);
			background-color: #CCC;
			font-size: 18px;
			padding:14.5px;
			// height: 50px;
			.col{
				@include span(4);
				text-align: center;
			}
		}
		#menul{
			text-align: left;
			padding-left:0;	
		}
		#subl{
			text-align: right;	
		}
	}
	.row-container{
		@include span(12 nest);
		.container-input{
			@include span(8);
			background-color:#EEE;
			h3{
				margin:7px;
			}
			.items{
				@include span(3 nest);
				img{
					@include span(3 nest);
					width:150px;
					height: 150px;
					margin: 0px;
					// display: inline-block;
					// margin-left: span(1.5);
					// margin-right: span(1.5);
					text-align: center;
					background-color:lightyellow;
					// padding:80px;
					margin-top: 10px;
					margin-bottom: 10px;
					// border:1px solid black;
				}
			}
		}
		.container-output{
			@include span(4 nest);
			height: 618px;
			background-color:#DDD;
			position:relative;
			padding-top: 10px;
			.row{
				@include span(12);
				padding: 0px;
				.col{
					@include span(4);
					text-align: center;
				}
			}
			#item-jual{
				text-align: left;
				padding-left:14.5px;
			}
			#total-jual{
				text-align: right;
				padding-right:14.5px;
			}
			.reset{
				position:absolute;
				bottom:0;
				left: 0;
				width: 30%;
				height: 50px;
				background-color:red;
				color:#fff;
				border:none;
				outline: none;
			}
			.info{
				position:absolute;
				bottom:50px;
				left: 5px;
				width: 30%;
				height: 60px;
				border:none;
				outline: none;
			}
			.hitung-area{
				position: absolute;
				width: 70%;
				bottom:0;
				right: 0;
				background-color:#999;
				input{
					width: 120px;
				}
				.wrapper{
					@include span(12);
					padding:10px;
				}
				button{
					width: 100%;
				}
			}
		}
	}
}


.kembali-area{
	display:none;
	position:fixed;
	background-color: rgba(0,0,0,0.8);
	width:100%;
	height:100%;
	.wrapper{
		background-color:#fff;
		border:2px solid #000;
		color:#000;
		position:fixed;
		width: 300px;
		height: 100px;
		top:50%;
		left:50%;
		transform: translateX(-50%) translateY(-50%);
		text-align: center;
		padding:10px;
	}
	button{
		position:fixed;
		left: 50%;
		bottom:5%;
		transform: translateX(-50%);
		color:black;
	}
	#kembalian{
		font-size: 30px;
	}
}

.alert{
	display:none;
	position:fixed;
	background-color: rgba(0,0,0,0.8);
	width:100%;
	height:100%;
	.wrapper{
		background-color:#fff;
		border:2px solid #000;
		color:#000;
		position:fixed;
		width: 300px;
		height: 100px;
		top:50%;
		left:50%;
		transform: translateX(-50%) translateY(-50%);
		text-align: center;
	}
	#isiperingatan{
		position:fixed;
		top:20%;
		left:5%;
		font-size: 30px;
	}
	button{
		position:fixed;
		left: 50%;
		bottom:5%;
		transform: translateX(-50%);
		color:black;
	}
}

.content-laporan{
	@include span(12 nest);
	height:100vh;
	padding-top:100px;
	.row{
		@include span(12 nest);
		.col{
			@include span(3);
			text-align: center;
			border:1px solid black;
			padding:20px;
		}
	}
	.row-container{
		.col{
		
		}
	}
	.row-rekap{
		.col{
			@include span(4);
		}
	}
	.row-content-rekap{
		.col{
			@include span(4);
		
		}
	}
}

.content{

}

#popup{
	position:fixed;
	top: 55%;
	transform: translateY(-50%);
	width:100vw;
	height:100vh;
	background-color:rgba(0,0,0,0.8);
	color:white;
	padding-top:220px;
	display: none;
	font-size:20px;
	font-weight: 700;
	.row{
		@include span(12);
		color:white;
		text-align: center;
		margin-top: 10px;
	}
	button{
		@include span(1);
		margin-left: span(5.5);
		margin-right: span(5.5);
		margin-top: 30px;
		color:black;	
	}
	img{
		width: 250px;
		margin:10px;
	}
	#hargamenu{
		margin-bottom: 30px; 
	}
	.row-qty{
		@include span(3);
		margin-left: span(4.5);
		margin-right: span(4.5);
		.col{
			@include span(4);
		}
		button{
			margin:0;
			padding:0;
			color:black;
		}
	}
}